.form__block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .formLogin__container {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 684px;
        height: 432px;
        border-radius: 12px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

    .form__img {
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FFAB08;
        height: 100%;
        border-radius: 12px 0 0 12px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        background: #F9f9f9;
        border-radius: 0 12px 12px 0;
        height: 100%;
        flex-basis: 50%;
        padding: 24px;

        h1 {
            font-family: "Nunito", sans-serif;
            font-size: 24px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #000000;
            margin-bottom: 10px;

        }

        .inputBlock { 
            align-items: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            input {
                height: 40px;
                width: 100%;
                background: #FFFFFF;
                border: 2px solid #F2F2F3;
                border-radius: 12px;
                font-family: "Nunito", sans-serif;
                outline: none;
                transition: 0.3s all ease-in-out;
                margin: 10px 0;
                font-family: Nunito;
                font-size: 12px;
                font-weight: 600;
                line-height: 16px;
                letter-spacing: 0em;
                text-align: left;
                padding: 0 0 0 12px;

                &::placeholder {
                    color: #B1B1B1;
                }

                &:focus {
                    border: 2px solid #FF7020;
                }
            }

            button {
                width: 100%;
                height: 40px;
                border-radius: 12px;
                border: 2px solid #FF7020;
                background: #FF7020;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: Nunito;
                font-size: 12px;
                font-weight: 600;
                line-height: 16px;
                letter-spacing: 0em;
                text-align: left;
                color: #FFFFFF;
                margin: 10px 0;
                transition: 0.3s all ease-in-out;

                &:hover {
                    background: #FFAB08;
                    border: 2px solid #FFAB08;
                }

                &:active {
                    background: #F86310;
                    border: 2px solid #F86310;
                }
            }
        }

        span {
            font-family: Nunito;
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            color: #000000;
            margin: 10px 0;
            width: 100%;
            text-align: center;
        }

        a {
            color: #FF7020;
            text-decoration: none;
            font-weight: 600;
        }
    }


}

@media (max-width: 760px) {
    .form__block {

        .formLogin__container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 342px;
            height: 332px;

            .form__img {
                display: none;
            }

            form {
                border-radius: 12px;
                flex-basis: 100%;
                align-items: center;
            }
        }
    }
}

@media (max-width: 480px) {
    .form__block {

        .formLogin__container {
            display: flex;
            justify-content: center;
            align-items: center;

            .form__img {
                display: none;
            }
        }
    }
}

@media (max-width: 380px) {
    .form__block {
        .formLogin__container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 10px;

            form {
                width: 100%;
                padding: 24px 10px;

                & input {
                    max-width: 100%;
                }

                & button {
                    max-width: 100%;
                }
            }

            .form__img {
                display: none;
            }
        }
    }
}