.delivery__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.delivery {
  height: 432px;
  width: 684px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: #f9f9f9;
  border-radius: 24px;

  .delivery__img {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #ffab08;
    border-radius: 24px 0 0 24px;
  }

  .delivery__form {
    padding: 24px;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & input {
      width: 294px;
      height: 40px;
      top: 248px;
      left: 366px;
      padding: 12px;
      border-radius: 12px;
      border: 1px solid #f2f2f3;
      gap: 10px;
      outline: none;

      &::placeholder {
        font-family: Nunito;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
      }
    }

    & label {
      font-family: Nunito;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
      display: flex;
      align-items: center;
      gap: 5px;
      color: #000000;
    }

    & #pickupInput,
    #deliveryInput {
      width: 12px;
      height: 12px;
      border: 1px solid #f2f2f3;
      color: black;
    }

    & button {
      width: 294px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 11px 32px 11px 32px;
      border-radius: 12px;
      gap: 10px;
      background: #ff7020;
      border: 1px solid #ff7020;
      font-family: Nunito;
      font-size: 16px;
      font-weight: 400;
      color: #ffffff;
      line-height: 16px;
      letter-spacing: 0em;
    }
  }
}

.closeBtn {
  background: none;
  z-index: 1000;
  top: 24px;
  right: 24px;
  position: absolute;
  color: #333;
  border: none;
}
