.delivery-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.delivery {
  height: 432px;
  width: 684px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: #f9f9f9;
  border-radius: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  .delivery__img {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #ffab08;
    border-radius: 24px 0 0 24px;
  }

  .delivery__form {
    padding: 24px;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & input {
      height: 40px;
      width: 100%;
      background: #FFFFFF;
      border: 2px solid #F2F2F3;
      border-radius: 12px;
      font-family: "Nunito", sans-serif;
      outline: none;
      transition: 0.3s all ease-in-out;
      gap: 10px;
      font-family: Nunito;
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
      padding: 0 0 0 12px;

      &::placeholder {
          color: #B1B1B1;
      }

      &:focus {
          border: 2px solid #FF7020;
      }
  }

    & label {
      font-family: Nunito;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
      display: flex;
      align-items: center;
      gap: 5px;
      color: #000000;
    }

    & #pickupInput,
    #deliveryInput {
      width: 12px;
      height: 12px;
      border: 1px solid #f2f2f3;
      color: black;
    }

    & button {
      width: 100%;
      height: 40px;
      border-radius: 12px;
      border: 2px solid #FF7020;
      background: #FF7020;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Nunito;
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
      color: #FFFFFF;
      gap: 10px;
      transition: 0.3s all ease-in-out;

      &:hover {
          background: #FFAB08;
          border: 2px solid #FFAB08;
      }

      &:active {
          background: #F86310;
          border: 2px solid #F86310;
      }
  }
  }
}

.closeBtn {
  background: none;
  z-index: 1000;
  top: 24px;
  right: 24px;
  position: absolute;
  color: #333;
  border: none;
}

@media(max-width: 400px){
  .delivery{
    padding: 30px 10px;
    width: 300px;
    height: 400px;
    background: #ffffff;
    .delivery__img{
      display: none;
    }
    .delivery__form{
      flex-basis: 100%;
      height: 100%;
      padding: 0;
      .delivery__title{
        font-size: 28px;
        text-align: center;
      }
      & input{
        width: 100%;
      }
      & button{
        width: 100%;
      }
    }
  }
  .closeBtn {
    background: none;
    z-index: 1000;
    top: 10px;
    right: 10px;
    position: absolute;
    color: #333;
    border: none;
  }
}