.card {
    display: flex;
    max-width: 300px;
    min-width: 300px;
    flex-direction: column;
    border-radius: 18px;
    background: #FFF;
    padding: 12px;

    .card__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: 12px;
        height: 200px;

        & img {
            width: 100%;
            height: 100%;
            border-radius: 12px;
        }
    }

    .card__text {
        display: flex;
        flex-direction: column;

        .card__text-price {
            color: #000;
            font-family: Nunito;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 100%;
            margin: 16px 0 8px 0;
        }

        .card__text-name {
            color: #000;
            font-family: Nunito;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
        }

        .card__text-weight {
            color: #B1B1B1;
            font-family: Nunito;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 130%;
            margin-top: 29px;
        }

        .card__text-btn {
            display: flex;
            width: 100%;
            padding: 11px 0;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            border-radius: 12px;
            background: #F2F2F3;
            border: 1px solid #F2F2F3;
            color: #000;
            font-family: Nunito;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            margin-top: 8px;
            transition: 0.3s ease-in-out;

            &:hover {
                background: #FF7020;
                border: 1px solid #FF7020;
                color: white;
            }
        }
    }
}
